{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "rach",
    "description" : "This is an an organization app. it helps keeps books and other items in location.",
    "termsOfService" : "https://agastya-library.in",
    "contact" : {
      "name" : "Aravind",
      "url" : "http://agastya-library.in",
      "email" : "aravind@agastya-library.in"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "http://rach.agastya-library.in"
  } ],
  "security" : [ {
    "api_key" : [ ]
  } ],
  "paths" : {
    "/obj" : {
      "get" : {
        "summary" : "",
        "description" : "",
        "operationId" : "getObj",
        "parameters" : [ ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        }
      },
      "put" : {
        "summary" : "",
        "description" : "",
        "operationId" : "updateObj",
        "parameters" : [ ],
        "responses" : {
          "default" : {
            "description" : "Default response"
          }
        }
      },
      "post" : {
        "summary" : "Adds a new object to home",
        "description" : "",
        "operationId" : "addObj",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/object"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "405" : {
            "description" : "Invalid input"
          }
        }
      },
      "delete" : {
        "tags" : [ "pet" ],
        "summary" : "Update an existing pet",
        "description" : "",
        "operationId" : "delObj",
        "parameters" : [ ],
        "responses" : {
          "400" : {
            "description" : "Invalid ID supplied"
          },
          "404" : {
            "description" : "Pet not found"
          },
          "405" : {
            "description" : "Validation exception"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "object" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int64"
          },
          "category" : {
            "type" : "string",
            "description" : "category of object",
            "enum" : [ "holder", "books", "groceries" ]
          }
        }
      }
    },
    "requestBodies" : {
      "Pet" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "object",
              "properties" : {
                "id" : {
                  "type" : "integer",
                  "format" : "int64"
                },
                "shipDate" : {
                  "type" : "string",
                  "format" : "date-time"
                },
                "category" : {
                  "type" : "string",
                  "description" : "category of object",
                  "enum" : [ "holder", "books", "groceries" ]
                }
              }
            }
          }
        },
        "required" : true
      },
      "UserArray" : {
        "description" : "List of user object",
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/object"
              }
            }
          }
        },
        "required" : true
      }
    },
    "securitySchemes" : {
      "api_key" : {
        "type" : "apiKey",
        "name" : "api_key",
        "in" : "header"
      }
    },
    "links" : { },
    "callbacks" : { }
  }
}